.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Tensor-module {
  height: 70vh;
  width: 80vw;
  border: 7px solid #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 30px;
  flex-direction: column;
  font-weight: bold;
  color: #61dafb;
}
.Tensor-input {
  background-color: #52565c;
  font-size: 20px;
  margin: 1vh;
  padding-left: 20px;
  border: none;
  color: #61dafb;
  border-radius: 20px;
  font-weight: bold;
  height: 5vh;
  width: 25vw;
}
.Tensor-btn {
  height: 7vh;
  margin: 1vh;
  background-color: #282c34;
  border: 2px #61dafb solid;
  border-radius: 20px;
  width: 6vw;
  font-size: 17px;
  color: #61dafb;
  display: flex;
  align-items: center;
  margin-left: 2vw;
  justify-content: center;
}
.Tensor-input:focus,
.Tensor-input:hover {
  border: 2px solid #61dafb;
  outline: none;
}
.Tensor-btn:focus,
.Tensor-btn:hover {
  background-color: #61dafb;
  color: #282c34;
  outline: none;
}
.Input-box {
  display: flex;
  margin: 3vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Prediction-box {
  color: #61dafb;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.Tensor-canvas {
  height: 256px;
  width: 256px;
}
.Tensor-input-selector {
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: #282c34;
  border: 2px #61dafb solid;
  border-radius: 20px;
  width: 25vw;
}
.Tensor-selection-button {
  height: 5vh;
  border: none;
  width: 12.5vw;
}
.Tensor-selection-button:first-child {
  border-radius: 20px 0px 0px 20px;
}
.Tensor-selection-button:nth-child(2) {
  border-radius: 0 20px 20px 0px;
}
.Inactive {
  background-color: #52565c;
  color: #61dafb;
  font-size: 20px;
  font-weight: bold;
}
.Active {
  background-color: #61dafb;
  color: #52565c;
  font-size: 20px;
  font-weight: bold;
}
.Inactive:hover,
.Inactive:focus {
  background-color: #61dafb;
  color: #52565c;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}
.Active:focus {
  outline: none;
}
.Tensor-module-title {
  color: #61dafb;
  font-size: 40px;
  font-weight: bold;
}
.Tensor-input-label {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: flex-start;
  color: #61dafb;
  font-size: 25px;
  font-weight: bold;
}
.Tensor-webcam-module {
  display: flex;
  margin-top: 2vh;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 480px;
  width: 640;
  border-radius: 20px;
}
.RPM-avatar-creator {
  height: 70vh;
  border-radius: 20px;
  width: 80vw;
}
